body {
    margin: 0;
    background-image: url("train.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 80px;
    color: #E6D9FF;
}

h2 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 40px;
    color:#E6D9FF;
}

button {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 30px;
}

#increment-btn {
    background:rgb(68, 2, 2);
}

#save-btn {
    background: rgb(241, 241, 5);
}
p{
    font-size: 30px;
    font-weight: bold;
    color: #E6D9FF;
}

